@{
    ViewBag.Title = "List";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-18 col-md-12">
			<div id="grid"></div>
		</div>
    </div>
</div>
<script>
	$(document).ready(function() {
	        
        $(".textButton").kendoButton();
        
        $("#grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "Orders_Read"
                    }
                },
                schema: {
                    model: {
                        fields: {
                            Symbol: { type: "string" },
                            Price: { type: "number" }
                        }
                    }
                },
                pageSize: 50
            },
            height: 550,
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [{
                    field:"Symbol",
                    filterable: true
                },
                "Price"
            ]
        });
    });

	function setDataSource() {
	    //check if the data is in the db
 
	    var dataSource = new kendo.data.DataSource({   
	        type: "json",
	        transport: {
	            read: {
                    url: "Orders_Read"
	            }
	        },
	        schema: {
	            model: {
	                fields: {
	                    UnitId: { type: "string" },
	                    UnitName: { type: "string" },
	                    Location: { type: "string" },
	                    Number: { type: "string" },
	                    Rating: { type: "string" },
	                    Assessed: { type: "date" }
	                }
	            }
	        },
	    });
 
	}
</script>
