@{
    ViewBag.Title = "Stock List";
}
<div class="container-fluid" align=center>
    <div class="row" align=center>
        <div align=center>
            <div id="grid" align=center style="max-width:1600px;margin-bottom:20px" />
        </div>
    </div>
</div>
<script>
    $.getScript('http://localhost:8088/Nab/signalr/hubs', function () {
        jQuery.support.cors = true;
        var ticker = $.connection.Ticker;
        $.connection.hub.url = "http://localhost:8088/Nab/signalr";

        $("#notification").kendoNotification({
            width: "100%",
            position: {
                top: 0,
                left: 0
            }
        });

        $.connection.hub.start(function () {
            console.log('connection started!');
        }).then(init);

        ticker.client.updateStockPrice = function (stocks) {

            $("#grid").kendoGrid({
                height: 550,
                editable: false,
                sortable: true,
                filterable: true,
                pageable: true,
                columns: [
                    { field: "Symbol" },
                    { field: "Price" }
                ],
                dataSource: {
                    data: stocks,
                    schema: {
                        model: {
                            fields: {
                                "Symobol": { editable: false, nullable: true, type: "string" },
                                "Price": { type: "number" }
                            }
                        }
                    },
                    sort: [{ field: "Symbol", dir: "desc" }]
                }
            });
        }

        function init() {
            return ticker.server.get().done(function (stocks) {
                $("#grid").kendoGrid({
                    height: 550,
                    editable: false,
                    sortable: true,
                    filterable: true,
                    pageable: true,
                    columns: [
                        { field: "Symbol" },
                        { field: "Price" }
                    ],
                    dataSource: {
                        data: stocks,
                        schema: {
                            model: {
                                fields: {
                                    "Symobol": { editable: false, nullable: true, type: "string" },
                                    "Price": { type: "number" }
                                }
                            }
                        },
                        sort: [{ field: "Symbol", dir: "desc" }]
                    }
                });
            });
        }
    });
</script>